<h1>Новый пользователь</h1>
<hr>
<form action="{{ url_for('users_post') }}" method="post">
  <div>
    <label for="user-name">
      Имя:
      <input type="text" id="user-name" name="name" value="{{ user.name if user and user.name else '' }}">
    </label>
    {% if errors and errors.get('name') %}
    <div style="color: red;">{{ errors['name'] }}</div>
    {% endif %}
  </div>
  <div>
    <label for="user-email">
      Email:
      <input type="text" id="user-email" name="email" value="{{ user.email if user and user.email else '' }}">
    </label>
    {% if errors and errors.get('email') %}
    <div style="color: red;">{{ errors['email'] }}</div>
    {% endif %}
  </div>
  <div>
    <button type="submit" title="Submit form">Добавить</button>
  </div>
</form>

<p><a href="{{ url_for('get_users') }}">Назад к списку пользователей</a></p>